body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    /*background-color: black;*/
}

.letras {
    text-align: center;
    font-family: "Source Code Pro";
    text-transform: uppercase;
    color: white;
    border: #333333;
    border-inline: 20px;
    text-decoration-color: #333333;
}

.regles {
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: left;
}

#escenari {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.riba {
    width: 30%;
    min-height: 200px;
    background-image: url('imagenes/tierra.webp');
    padding: 10px;
    border-radius: 10px;
}

#zona-barca {
    width: 30%;
    min-height: 150px;
    background-color: #87ceeb; /* Color aigua */
    border-radius: 10px;
    background-image: url('imagenes/mar.png');
    padding: 10px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #fff;
    /*border: 2px solid #333;*/
    /*border-radius: 5px;*/
    align-self: flex-start;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
            0 8px 32px rgba(0, 0, 0, 0.1),
            inset 0 1px 0 rgba(255, 255, 255, 0.5),
            inset 0 -1px 0 rgba(255, 255, 255, 0.1),
            inset 0 0 10px 5px rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;

}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(
            90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent
    );
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3)
    );
}

#panell-missatges {
    margin-top: 30px;
    padding: 15px;
    background: #333;
    color: #fff;
    border-radius: 5px;
}


.miedo{
    display: none;
    z-index: 10;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,1); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

.modal-content {
    position: fixed;
    bottom: 500px;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 500px; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 500px; opacity: 1}
}